slack_token = 'xoxb-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX'

[[commands]]
keyword = 'date'
aliases = [ 'いま何時', '今何時' ]
command = 'date'
icon_emoji = ':alarm_clock:'
username = 'Clock'

[[commands]]
keyword = 'uname'
command = 'uname -mrs'
username = 'OS info'
icon_emoji = ':computer:'

[[commands]]
keyword = '*'
command = 'bash -c "*"'
monospaced = true
