name: CI

on:
  push:
    branches: [ 'master' ]
    tags: [ 'v*' ]
  pull_request:
    branches: [ 'master' ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
          cache: true
      - name: Run Tests
        run: go test -v ./...

  build-push:
    needs: test
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - name: Install ko
        uses: ko-build/setup-ko@v0.6
      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push
        run: |
          ko build . --bare \
            --platform=linux/amd64,linux/arm64 \
            --user=0 \
            --tags=${{ github.ref_name }},latest
        env:
          KO_DOCKER_REPO: ghcr.io/${{ github.repository }}
          CGO_ENABLED: 0
